* {
  margin: 0;
  padding: 0;
}
.SortBar {
  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 980px;
  margin-top: 30px;
  margin-left: 20px;
  border: 3px solid #8a4c37;
  border-radius: 20px;
  height: 45px;
}
.SortBarCompo {
  border-right: 5px solid #8a4c37;
  padding-right: 20px;
  height: 100%;
}
.Sort {
  font-size: 28px;
  font-weight: bold;
  padding-left: 25px;
  height: 100%;
  /* padding-top: 100px; */
}
.SortBarEle {
  font-size: 20px;
  padding-left: 20px;
  height: 100%;
}
.SortBarEle span {
  font-size: 12px;
  padding-left: 5px;
  height: 100%;
}

.SortBar2 {
  font-size: 20px;
  /* padding-top: 8px; */
  padding-left: 20px;
  font-weight: bold;
  padding-right: 0px;
  text-align: center;
  border-right: 5px solid #8a4c37;
}
.SortBar2 input,
.SortBar2 form {
  height: 100%;
  width: 100%;
  border: none;
  color: #8a4c37;
}
.SortBar2 input {
  border: none;
  font-size: 20px;
  text-decoration: none;
  outline: none;
  color: #8a4c37;
  font-weight: bold;
}
.SortBar2 input::placeholder {
  color: #8a4c37;
}
.submitBtn {
  width: 55px;
  border: none;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}
