@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.header-2>header > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  justify-content: flex-end;
  gap: 10em;
  margin-right: 3em;
  margin-top: 0px;
  padding: 10px;
  color: white;
}
.header-2>header > nav {
  background-color: #5f230f;
}

.header-2>header {
  height: 20vh;
  background-size: 100%;
  border-bottom: 2px solid white;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.25);
}
#search-bar {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#search-bar > input,
#search-bar > button {
  font-family: "Cormorant Garamond", serif;
  border-radius: 0.5em;
  background-color: #5f230f;
  color: white;
  font-size: 1.2em;
  width: 10em;
  border-style: none;
  padding: 0.2em;
  padding-left: 0.5em;
}
#search-bar > input::placeholder {
  font-size: 0.8em;
  color: white;
}

.search-2 > #search-bar > button {
  border: 2px solid white;
  box-shadow: 0 0 10px 2px black;
}
.search-2 {
  margin: auto;
  border-radius: 1em;
  width: 90%;
  background: #b4a39b;
  text-align: center;
  padding: 1em;
}
