@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

header > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  justify-content: flex-end;
  gap: 10em;
  margin-right: 3em;
  margin-top: 0px;
  padding: 10px;

}
header > nav > ul>li{
  color: white;
  
}
header > nav {
  background-color: #5f230f;
}


