* {
  margin: 0;
  padding: 0;
}
.hotelBody {
  display: flex;
}
.mainBody {
  height: 1000px;
}
.sortB {
  height: 60pz;
}
.data {
  height: 900px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
::-webkit-scrollbar {
  display: none;
}
