* {
  margin: 0;
  padding: 0;
}
.card {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  display: inline-block;
  height: 240px;
  margin: 15px 0;
  width: 320px;
}

.card a {
  text-decoration: none;
}
.cardImg {
  background-image: url("download.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 240px;
  width: 320px;
  border-radius: 20px;
}

.card .cardTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(12, 12, 11);
  color: #fff;
  padding-top: 180px;
  font-size: 40px;
  text-align: center;
}
