@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body{
    background-color: rgb(177,164,156);
}
.carousel-heading{
    text-align: center;
    margin-top: 20px;
    color:rgb(88,39,21);
    font-weight: 400;
    font-size: 3em;
    font-family: Garamond, serif;
    

}
.carousel-heading:nth-of-type(2n){
    margin-top: 2em ;

}