@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
.App {
  background-image: url('downlo.png');
  /* filter: blur(7px); */
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.App1{
  height: 100vh;
  display: flex;
  color: white;
}

.appAside {
  margin-left: 15%;
  width: 30%;
  background-image: url('downlo.png');
  background-repeat: no-repeat;
}

.appForm {
  width: 40%;
  background-color: #A07C6E;
  padding: 25px 40px;
  overflow: auto;
}

.formCenter {
  margin-bottom: 10%;
}

.formTitle {
  color: #ffffff;
  font-weight: 50;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40;
}

.formTitleLink {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
  font-family: 'Cormorant Garamound';
}

.formTitleLink:hover{
  text-decoration: underline;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formTitleLink-active {
  color: white;
  border-bottom: 1px solid #6b5b95;
}

.formField {
  margin-bottom: 40px;
}

.formField1 {
  margin-bottom: 18px;
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.formFieldInput {
  width: 85%;
  background-color: transparent;
  border: white;
  color: white;
  outline: none;
  border: 1px solid #ffffff;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 8px;
  margin-top: 10px;
  background-color: #B4A39B;
  border-radius: 7px;
}

.formFieldInput::placeholder {
  color: #ffffff;
  font-family: 'Cormorant Garamound' ;
  justify-content: space-around;
}

.formFieldButton {
  background-color: #5F230F;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 15px 40px;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  margin-left: 25%;
}

.formFieldLink {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
  align-items: center;
}

.formFieldCheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: white;
  border-bottom: 1px solid #6b5b95;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

